---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import NoteListItem from './NoteListItem.astro';
import { parsePostDate, getMonthNameFromString, compareDatesDescending } from '../utils/date-utils';

interface Year {
  date: string;
  months: Month[];
}

interface Month {
  date: string;
  name: string;
  notes: Note[];
}

type Note = CollectionEntry<'notes'> & {
  date: string;
};

const allNotes = await getCollection('notes');
const notes = allNotes.filter((note) => note.data.type === 'film');
const years: Year[] = [];

for (const note of notes) {
  const dateToUse = note.data.watchedDate ?? note.data.added;
  const [yearDate, monthDate, dayDate] = parsePostDate(dateToUse);

  let year: Year | undefined = years.find((year) => year.date === yearDate);
  if (!year) {
    year = {
      date: yearDate,
      months: [],
    };
    years.push(year);
  }

  let month = year.months.find((month) => month.date === monthDate);
  if (!month) {
    const monthName = getMonthNameFromString(monthDate);
    month = {
      date: monthDate,
      name: monthName,
      notes: [],
    };
    year.months.push(month);
  }

  month.notes.push({
    ...note,
    date: dayDate,
  });
}

for (const year of years.sort((a, b) => compareDatesDescending(a.date, b.date))) {
  for (const month of year.months.sort((a, b) => compareDatesDescending(a.date, b.date))) {
    month.notes.sort((a, b) => compareDatesDescending(a.date, b.date));
  }
}
---

<style>
  .month-group {
    border: 1px solid var(--base_03);
    padding: 0.75rem 1rem;
    margin: 1.5rem 0;
  }

  .month-group:hover,
  .month-group:focus-within {
    border-color: var(--accent-color);
  }

  .month-group legend {
    padding: 0 0.5em;
    color: var(--base_02);
    font-weight: bold;
    font-size: 1rem;
  }

  .month-group:hover legend,
  .month-group:focus-within legend {
    color: var(--accent-color);
  }

  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list li {
    font-size: 1.25rem;
    margin: 0.5em 0;
  }
</style>

<div>
  {
    years.map((year) => (
      <>
        {year.months.map((month) => (
          <fieldset class="month-group">
            <legend>
              {month.name} {year.date}
            </legend>
            <ul class="list">
              {month.notes.map((note) => (
                <NoteListItem
                  slug={note.slug.replace(/^films\//, '')}
                  title={note.data.title}
                  added={note.data.watchedDate ?? note.data.added}
                  tags={note.data.tags}
                  type={note.data.type}
                  excerpt={note.data.excerpt}
                  rating={note.data.rating}
                  basePath="/films"
                />
              ))}
            </ul>
          </fieldset>
        ))}
      </>
    ))
  }
</div>
